<div class="slider">
  <ul class="slides">
    <li style="background-color: #E66C2C">
      <div class="caption center-align">
        <h1>Daily Flash Deal:</h1>
        
      </div>
    </li>
    <li style="background-color: #3A2820">
      <div class="caption left-align">
      </div>
    </li>
  </ul>

</div>


<script type="text/javascript">

    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });

    // Pause slider
    $('.slider').slider('pause');
    // Start slider
    $('.slider').slider('start');
    // Next slide
    $('.slider').slider('next');
    // Previous slide
    $('.slider').slider('prev');

</script>
